#unlesse
snippet unlesse
	<% unless ${1} %>
		${2}
	<% else %>
	<% end %>

#unless
snippet unless
	<% unless ${1} %>
		${2}
	<% end %>

#if
snippet if
	<% if ${1:condition} %>
		${2}
	<% end %>

#ife
snippet ife
	<% if ${1} %>
		${2}
	<% else %>
	<% end %>

